@import './base/mixins';
@import './base/variables';
@import './base/animation';
@import './libs/font';

@import 'blocks';
@import 'media';



* {
  box-sizing: border-box;
  margin: 0;
  cursor: default;
  font-family: "Inter", sans-serif;
}

html.lock {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  font-style: normal;
  font-weight: normal;

  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a, button {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: #776e73;
}

h4 {
  font-weight: 700;
  font-size: 26px;
  color: #2b2b2b;
}

main:not(.main-contacts, .error-main) {
  min-height: 100vh;
}

.like {
  svg {
    path {
      stroke: #c2025e;
      fill: #c2025e;
    }
  }
}

.btn {
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  background: #c2025e;

  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #f6f4f5;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width:576px) {
  main:not(.error-main) {
    min-height: 50vh;
  }
  h3 {
    font-size: 20px;
  }
p {
  font-size: 14px;
}
h4 {
  font-size: 18px;
}
  .btn {
    padding: 11.5px 42.5px;
    font-size: 14px;
  }
}

@media screen and (max-width:425px) {
  h3 {
    font-size: 18px;
  }
}