<footer class="footer">
    <div class="footer__banner">
        <div class="container">
            <div class="footer__banner_title">
                Необходима консультация специалиста?
            </div>
            <div class="footer__banner_descr">
                Оставьте заявку и на бесплатную консультацию, и мы обязательно свяжемся с вами!
            </div>
            <form action="" class="footer__banner_form">
                <input type="text" placeholder="Имя">
                <input type="tel" placeholder="Телефон">
                <input type="email" placeholder="Электронная почта">
                <button type="submit">Оставить заявку</button>
            </form>
        </div>
    </div>
    <div class="footer__top">
        <div class="footer__top_container container">
            <nav class="footer__nav footer__top_item footer__nav-catalog">
                <h5 class="footer__nav_title">Каталог</h5>
                <ul class="menu">
                    <li>
                        <a href="#">Упаковочное оборудование</a>
                    </li>
                    <li>
                        <a href="#">Запайщики пакетов</a>
                    </li>
                    <li>
                        <a href="#">Паллетоупаковщики</a>
                    </li>
                    <li>
                        <a href="#">Термоусадочное оборудование</a>
                    </li>
                    <li>
                        <a href="#">Запчасти и расходники</a>
                    </li>
                    <li>
                        <a href="#">Запчасти и расходники</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__nav footer__top_item footer__nav-customers">
                <h5 class="footer__nav_title">Покупателям</h5>
                <ul class="menu">
                    <li>
                        <a href="#">Каталог</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                    <li>
                        <a href="#">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="#">Пункты выдачи</a>
                    </li>
                    <li>
                        <a href="#">Заказы</a>
                    </li>
                    <li>
                        <a href="#">Кабинет</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__contacts footer__top_item">
                <h5 class="footer__contacts_title">Помощь и поддержка</h5>
                <div class="footer__contacts_wrapper">
                    <div class="footer__contacts_phone footer__contacts_item">
                        <div class="footer__contacts_item-title">
                            Телефон
                        </div>
                        <a href="tel:88005053220" class="footer__contacts_phone-item">8 (800) 505-32-20</a>
                    </div>
                    <div class="footer__contacts_item">
                        <div class="footer__contacts_item-title">
                            Электронная почта
                        </div>
                        <a href="#" class="footer__contacts_item-wrapper">
                            <div class="footer__contacts_item-ico">
                                <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.3 0H1.7C1.24913 0 0.81673 0.184374 0.497918 0.512563C0.179107 0.840752 0 1.28587 0 1.75V12.25C0 12.7141 0.179107 13.1592 0.497918 13.4874C0.81673 13.8156 1.24913 14 1.7 14H15.3C15.7509 14 16.1833 13.8156 16.5021 13.4874C16.8209 13.1592 17 12.7141 17 12.25V1.75C17 1.28587 16.8209 0.840752 16.5021 0.512563C16.1833 0.184374 15.7509 0 15.3 0ZM15.3 4.1125L8.5 8.77975L1.7 4.1125V2.00987L8.5 6.67625L15.3 2.00987V4.1125Z" fill="#290718" />
                                </svg>
                            </div>
                            <span>info@packberries.ru</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__mailing">
                <div class="footer__mailing_heading">
                    <div class="footer__mailing_content">
                        <span class="footer__mailing_title">
                            Подпишитесь на рассылку
                        </span>
                        <span class="footer__mailing_descr">
                            Свежие новости, скидки и акции
                        </span>
                    </div>
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40 8H12C9.794 8 8 9.794 8 12V22H12V16L24.8 25.6C25.1463 25.8593 25.5673 25.9995 26 25.9995C26.4327 25.9995 26.8537 25.8593 27.2 25.6L40 16V34H24V38H40C42.206 38 44 36.206 44 34V12C44 9.794 42.206 8 40 8ZM26 21.5L13.332 12H38.668L26 21.5Z" fill="#E8E3E6" />
                        <path d="M4 24H18V28H4V24ZM8 30H20V34H8V30ZM14 36H22V40H14V36Z" fill="#E8E3E6" />
                    </svg>
                </div>
                <form action="" class="footer__mailing_form">
                    <input type="email" placeholder="Электронная почта">
                    <button type="submit">Подписаться</button>
                </form>
            </div>

        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom_container container">
            <p>Возможны текстовые опечатки и расхождения технических характеристик товара. Внешний вид ТОВАРА, может отличаться от изображений, представленных на сайте. Для получения точной информации о внешнем виде, стоимости оборудования и технических характеристиках, пожалуйста, обратитесь к нашим менеджерам.</p>
            <p>*Расчетная производительность (теоретическая, конструктивная, кинематическая) — это максимально возможное количество продукции, вырабатываемой в единицу времени непрерывной работы при расчетных скоростях рабочих движений и нагрузках. Расчетная производительность не учитывает: особенности и характеристики продукта, упаковочного материала, установленные настройки, влияние внешних факторов, наличие перерывов в работе, простои, условия труда работающих и пр. В паспортных характеристиках и расчетных формулах также под производительностью всегда понимается расчетная производительность.</p>
        </div>
    </div>
</footer>