.banner {
  border-radius: 10px;
  padding: 60px 162px;

  min-height: 280px;
  overflow: hidden;

  margin-top: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  &-small {
    min-height: 216px;
    padding: 60px 220px;
    &__content {
      gap: 10px !important;
      max-width: 455px !important;
    }
    &__title {
      font-weight: 800;
      font-size: 30px;

      /* line-height: 31px; */
      line-height: 1.03333;
      text-transform: uppercase;
      color: #290718;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;

    position: relative;
    z-index: 5;
  }
  &__descr {
    font-weight: 400;
    font-size: 18px;
    color: #776e73;
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;

    transform-style: preserve-3d;
    img {
      position: absolute;
      top: 22px;
      right: 22%;

      transform: translateZ(2px);
    }
    svg {
      position: absolute;
      right: 16%;
      bottom: 0;

      filter: blur(90px);

      transform: translateZ(1px);
    }
  }
}