.mobile-menu {
  position: fixed;
  z-index:100;
  bottom: 0;
  width: 100%;

  display: none;
  align-items: center;
  justify-content: center;
  gap: 30px;

  padding: 10px 0;

  background: #FFF;

  /* 444 */
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
  a {
    gap: 5px;
  }
}