.buy-now {
  max-width: 375px;
  border-radius: 10px;
  padding: 40px 60px;

  background: #fff;
  &__title {
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #2b2b2b;
  }
  &__form {
    margin-top: 36px;

    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__field {
    input {
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 10px;

      padding: 0 20px;

      outline: none;

      background: #f8f7f7;

      color: #655d61;
      font-weight: 400;
      font-size: 15px;
      &::placeholder {
        color: #776e73;
      }
    }
  }
  &__btn {
    padding: 15px 20px;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #c2025e;
    background: #c2025e;

    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #fff;

    cursor: pointer;

    transition: all .3s;
    &:hover {
      background: none;
      color: #c2025e;
    }
  }
  &__policy {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #776e73;
    }
  }

  .f-button.is-close-btn {
    top: 10px;
    right: 10px;
  }
}
.review-modal {
  padding: 30px;
  border-radius: 10px;
  max-width: 570px;
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  &__title {
    font-weight: 700;
    font-size: 26px;
    color: #2b2b2b;
  }
  &__stars {
    display: flex;
    direction: rtl;
    justify-content: space-between;
    gap: 9px;
    overflow: hidden;
    &_label {
      position: relative;
      width: 22px;
      height: 22px;
      filter: grayscale(1);
      transition: all .2s linear;
      overflow: hidden;
      background: url(/public/review-star.svg) center / cover no-repeat;
      cursor: pointer;
      &:hover,
      &:hover ~ .review-modal__stars_label,
      &.checked,
      &.checked ~.review-modal__stars_label {
        filter: grayscale(0);
      }
    }

    &_input {
      position: absolute;
      left: 0;
      top: 0;
      width: 22px;
      height: 22px;
      margin: 0;
      border-radius: 0;
      opacity: 0;

      cursor: pointer;
    }
  }
  &__form {
    input, textarea {
      font-weight: 400;
      font-size: 15px;
      color: #776e73;

      padding: 16px 20px;
      width: 100%;
      height: 50px;

      border-radius: 6px;
      background: #f8f7f7;
      outline: none;
      border: none;

      cursor: text;
      &:not(input) {
        margin-top: 10px;
        height: 100px;
        resize: none;
      }
    }
    .review-modal__inpts {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &__images {
    margin-top: 20px;
    &_title {
      font-weight: 500;
      font-size: 15px;
      color: #290718;
    }
    &_wrapper {
      margin-top: 12px;
    }
    &_files {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .review-modal__file_thumb {
        border-radius: 4px;
        width: 76px;
        height: 76px;
        border: 1px solid #e8e8e8;
        object-fit: cover;
      }
      .thumb-video {
        position:relative;
        overflow: hidden;
        &:before {
          content: '';
          display: block;
          width: 76px;
          height: 76px;
          background: url(public/video-play.svg) center / contain no-repeat;

          position: absolute;
          z-index: 5;
          transform: scale(0.5);
        }
        &:after {
          content: '';
          display: block;
          width: 76px;
          height: 76px;
          background: rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          position: absolute;
          z-index: 1;
          inset: 0;
        }
        &.video-open {
          &:before, &:after {
            display: none;
          }
        }
      }
      .video-open {
        width: 100%;
        height: 300px;
        position: relative;
        div {
          height: 20px;
          width: 20px;
          background: url(public/close.svg) center / cover no-repeat, #fff;
          padding: 5px;
          border-radius: 4px;
          position: absolute;
          z-index: 20;
          top: 10px;
          right: 10px;

          cursor: pointer;

          -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        }
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &_download {
      display: block;
      width: 76px;
      height: 76px;
      border-radius: 4px;
      border: 1px dashed #C2025E;
      outline: none;
      background: url("public/review-download.svg") center no-repeat;
      cursor: pointer;
      input {
        display: none;
      }
    }
  }
  &__btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;

    outline: none;

    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #fff;

    border-radius: 10px;
    border: 1px solid #C2025E;
    background: #c2025e;

    transition: all .2s linear;

    cursor: pointer;
    &:hover {
      background: none;
      color: #c2025e;
    }
  }
  &__privacy {
    margin-top: 10px;

    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #c2bdbf;
    a {
      color: inherit;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  .f-button.is-close-btn {
    top: 5px;
    right: 5px;
  }
}