@media screen and (max-width: 576px) {
  .recently {
    &__title {
      font-size: 16px;
    }
    &__slider {
      .card__slider.swiper {
        padding: 10px 0;
      }
      .card__arrow {
        display: none;
      }
    }
  }
}