.header {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  background: #fff;

  padding: 20px 0;

  //position: relative;
  &__logo {
    cursor: pointer;
    display: block;
    width: 151px;
    height: 100%;
    position: relative;
    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    &_right, &_middle {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &_middle {
      width: 100%;
    }
  }
  &__catalog {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 11px 19px;

    background: #c2025e;
    border-radius: 50px;

    cursor: pointer;

    height: 46px;
    width: 129px;
    min-width: 129px;
    max-width: 129px;
    max-height: 46px;

    transition: all .2s;
    &_ico {
      width: 18px;
      height: 18px;
    }
    &_title {
      font-weight: 700;
      font-size: 15px;
      color: #f6f4f5;
    }
    .when-active {
      display: none;
    }
    * {
      cursor: pointer;
    }
  }
  &__catalog.active {
    padding: 5px 19px 5px 4px;
    background: #290718;
    font-weight: 700;
    font-size: 15px;
    color: #f6f4f5;
    svg {
      display: none;
    }
    .header__catalog_ico {
      width: auto;
      height: auto;
    }
    .when-active {
      display: block;
    }
  }

  &-catalog {
    position: absolute;
    top: 85px;
    z-index: 50;

    border-top: 1px solid #e8e3e6;;

    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.05  );
    background: #fff;

    width: 100%;
    padding: 30px 0 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    transition: all 0.2s linear;
    opacity: 0;
    overflow: hidden;
    left: -100%;
    &__container {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template: auto / 265px 1fr;
      gap: 30px;
    }
    &__tabs {
      padding-right: 11px;
      border-right: 1px solid #e8e3e6;

      display: flex;
      flex-direction: column;
      gap: 10px;
      &_item {
        width: 100%;
        padding: 13px 20px;
        border-radius: 10px;

        font-weight: 400;
        font-size: 13px;
        color: #776e73;

        cursor:pointer;

        transition: all .3s;
        &:hover {
          font-weight: 500;
          color: #290718;
          background: rgba(246, 244, 245, 0.7);
        }
      }
      &_item.active {
        background: #f6f4f5;
        font-weight: 500;
        color: #290718;
      }
    }
    &__menu {
        display: none;
      &_item {
        display: flex;
        flex-direction: column;
        gap: 23px;
      }
      &_title {
        font-weight: 500;
        font-size: 15px;
        color: #290718;
      }
      &_wrapper {
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: 15px;
        .hidden {
          opacity: 0;
          display: none;
        }
      }
      &_link {
        display: inline-block;
        border-bottom: 1px solid rgba(255, 255, 255, 0);

        font-weight: 400;
        font-size: 13px;
        color: #776e73;

        transition: all .3s;

        &:hover {
          color: #c2025e;
          border-bottom: 1px solid rgba(194, 2, 94, 0.5);
        }
      }
      &_more {
        font-weight: 500;
        font-size: 13px;
        color: #c2025e;

        cursor: pointer;

        display: none;
        svg {
          transition: all .3s;
        }
        * {
          cursor: pointer;
        }
      }
      &_more.active {
        display: flex;
        align-items: center;
        gap: 7px;
        .show {
          transform: rotate(180deg);
        }
      }
    }
    &__menu.active {
      display: grid;
      grid-template: repeat(2, auto) / repeat(4, 1fr);
      grid-auto-rows: 264px;
      column-gap: 6px;
      row-gap: 40px;
    }
  }
  &-catalog.active {
    opacity: 1;
    visibility: visible;
    left: 0;
  }

  &__search {
    width: 100%;
    &_form {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      width: 100%;
      max-width: 673px;
    }
    &_input {
      width: 100%;

      position: relative;
      input {
        height: 43px;
        padding: 7px 5px 5px 32px;

        border: none;
        border-bottom: 1px solid #e8e3e6;

        cursor: text;

        outline: none;
        &::placeholder {
          font-weight: 400;
          font-size: 15px;
          color: #c2bdbf;
        }
      }
      &-ico {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &_btn {
      padding: 8px 17px;
      border: 1px solid #e8e3e6;
      border-radius: 50px;
      background: none;

      cursor: pointer;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    svg, path {
      cursor: pointer;
    }
    &_ico {
      min-width: 24px;
      min-height: 24px;
      position: relative;
    }
    &_title {
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #a9a2a6;
      cursor: pointer;
    }
    &_count {
      font-weight: 500;
      font-size: 10px;
      color: #290718;
      background: #ffcc16;
      border-radius: 50%;
      padding: 2px 0;

      position: absolute;
      top: -5px;
      right: -5px;

      min-width: 16px;

      text-align: center;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;

    margin-top: 30px;
    ul {
      padding: 0;
      li {
        margin: 0;
      }
    }
    a {
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #776e73;
    }
  }
  &__categories {
    width: auto;
    &_menu {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 10px;
    }
  }
  &__nav {
    &_menu {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &_item {
      svg, path, span {
        cursor: pointer;
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      &-ico {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  ul {
    list-style-type: none;
  }
}

.header-burger, .header-mobile__search {
  display: none;
}