.header {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  background: #fff;

  padding: 20px 0;
  &__logo {
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;

    img {
      cursor: pointer;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_right, &_middle {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
  &__catalog {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 11px 19px;

    background: #c2025e;
    border-radius: 50px;

    cursor: pointer;
    &_ico {
      width: 18px;
      height: 18px;
    }
    &_title {
      font-weight: 700;
      font-size: 15px;
      color: #f6f4f5;
    }
  }
  &__search {
    &_form {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      width: 673px;
    }
    &_input {
      width: 100%;

      position: relative;
      input {
        height: 43px;
        padding: 7px 5px 5px 32px;

        border: none;
        border-bottom: 1px solid #e8e3e6;

        cursor: text;

        outline: none;
        &::placeholder {
          font-weight: 400;
          font-size: 15px;
          color: #c2bdbf;
        }
      }
      &-ico {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &_btn {
      padding: 8px 17px;
      border: 1px solid #e8e3e6;
      border-radius: 50px;
      background: none;

      cursor: pointer;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    svg, path {
      cursor: pointer;
    }
    &_ico {
      min-width: 24px;
      min-height: 24px;
    }
    &_title {
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #a9a2a6;
      cursor: pointer;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
    ul {
      padding: 0;
      li {
        margin: 0;
      }
    }
    a {
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #776e73;
    }
  }
  &__categories {
    &_menu {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
  &__nav {
    &_menu {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &_item {
      svg, path, span {
        cursor: pointer;
      }
      a {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}