.order {
  &-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    margin-top: 240px;
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-weight: 700;
      text-align: center;
    }
    &__descr {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #a9a2a6;

      max-width: 460px;
      margin-top: 10px;
    }
    &__btn {
      font-weight: 500;
      font-size: 15px;
      text-align: center;
      color: #f6f4f5;
      padding: 16px 30px;
      border: 1px solid transparent;
      background: #c2025e;
      border-radius: 10px;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        background: none;
        border: 1px solid #c2025e;
        color: #C2025E;
      }
    }
  }
}