.product {
  &__info, &__review {
    display: grid;
    grid-template: auto / 1fr 375px;
    gap: 40px;
  }
  &__info {
    &_left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e8e3e6;
      &-top {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        //height: 500px;
        //max-height: 500px;
      }
      &-info {
        width: 100%;
        //max-width: 375px;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
      &-sale {
        font-weight: 500;
        font-size: 15px;
        color: #f0371e;

        padding: 6px;

        border: 1px solid rgba(240, 55, 30, 0.2);
        border-radius: 20px;

        background: #fff;

        position: absolute;
        top: 0;
        right: 0;

        z-index: 10;
      }
      &-sliders {
        width: 100%;
        max-width: 570px;

        display: flex;
        align-items: flex-start;
        gap: 10px;

        position: relative;
      }
    }
    &_top {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-top {
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.08);
        background: #fff;
      }

      //удалить при интеграция виджета ДОЛЯМИ
      &-dolyame {
        border-radius: 8px;
        padding: 12px;
        height: 44px;

        background: #000;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        cursor: pointer;
        &__icon {
          border-radius: 4px;
          padding: 6px;
          width: 68px;
          height: 20px;

          background: #fff;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        &__text {
          font-weight: 400;
          font-size: 13px;
          text-align: left;
          width: 100%;

          /* line-height: 24px; */
          line-height: 1.84615;
          color: #fff;
        }
        * {
          cursor: pointer;
        }
      }
      //удалить при интеграция виджета ДОЛЯМИ

    }
    &_code {
      font-weight: 400;
      font-size: 13px;
      color: #776e73;
    }
    &_title {
      font-weight: 700;
      font-size: 23px;
      color: #2b2b2b;
    }
    &_rating {
      display: flex;
      align-items: center;
      gap: 20px;
      &-item {
        display: flex;
        align-items: center;
        gap: 5px;

        font-weight: 400;
        font-size: 13px;
        color: #776e73;
      }
    }
    &_brand {
      padding: 7px 13px;
      background: #f8f7f7;
      border-radius: 10px;
      img {
        width: 114px;
        max-width: 114px;

        object-fit: cover;
      }
    }
    &_characteristic {
      display: flex;
      flex-direction: column;
      gap: 10px;

      position: relative;
      &-wrapper {
        transition: all .2s linear;
      }
      &-title {
        font-weight: 700;
        font-size: 18px;
        color: #290718;
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 28px;

        padding: 10px 0;
        &:not(:first-child) {
          border-bottom: 1px solid rgba(232, 227, 230, 0.5);;
        }
      }
      &-name {
        font-weight: 400;
        font-size: 13px;
        color: #776e73;
      }
      &-meaning {
        font-weight: 400;
        font-size: 13px;
        color: #290718;

        min-width: 46px;
        white-space: nowrap;
      }

      &-more {
        margin-top: 26px;

        border: none;
        background: none;
        display: flex;
        align-items: center;
        gap: 7px;

        padding: 0;

        cursor: pointer;
        .show {
          transform: rotate(180deg);
        }
        span {
          font-weight: 500;
          font-size: 13px;
          color: #c2025e;
        }
        * {
          cursor: pointer;
        }
      }

      .characteristic-active {
        min-width: 390px;
        border-radius: 10px;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15);
        background: #fff;
        padding: 20px;

        position: absolute;
        z-index: 5;
        top: 30px;
        left: -20px;
      }

      .hidden {
        display: none;
      }
    }

    &_price {
      display: flex;
      flex-direction: column;
      &-title {
        font-weight: 400;
        font-size: 13px;
        color: #776e73;
      }
      &-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &-new {
        font-weight: 500;
        font-size: 31px;
        color: #290718;
      }
      &-old {
        font-weight: 300;
        font-size: 20px;
        text-decoration: line-through;
        color: #c2bdbf;
      }
    }
    &_counter {
      margin-top: 20px;

      height: 50px;
      max-height: 50px;

      display: flex;
      align-items: center;
      gap: 12px;

      &-cart {
        background: #f8f7f7;
        border-radius: 10px;

        display: flex;
        align-items: center;

        max-width: 140px;
        padding: 17px 20px;
        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          height: 20px;
          * {
            cursor: pointer;
          }
        }
        input {
          border: none;
          background: #f8f7f7;
          outline: none;
          width: 100%;

          font-weight: 400;
          font-size: 15px;
          text-align: center;
          color: #776e73;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      &-delivery {
        font-weight: 400;
        font-size: 13px;
        color: #776e73;

        display: flex;
        align-items: center;
        gap: 12px;
        &__text {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &_buttons {
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      gap: 10px;
      &-top {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &-cart {
        background: #c2025e;
        border-radius: 10px;
        border: none;
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        color: #fff;

        width: 100%;
        height: 50px;
      }
      &-like {
        background: #f8f7f7;
        border-radius: 10px;
        border: none;
        min-width: 50px;
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        svg, path {
          fill: transparent;
          cursor: pointer;
          transition: all .2s;
        }
      }
      &-now {
        padding: 15px 20px;

        border: 1px solid rgba(194, 2, 94, 0.2);
        border-radius: 10px;
        background: none;

        font-weight: 500;
        font-size: 15px;
        text-align: center;
        color: #c2025e;

        display: block;
      }

      button {
        cursor: pointer;
        * {
          cursor: pointer;
        }
      }
    }

    &_description {
      &-title {
        font-weight: 700;
        font-size: 18px;
        color: #290718;

        margin-bottom: 20px;
      }
      &-text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        font-weight: 400;
        font-size: 15px;
        color: #776e73;

        animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        p, ul, li, a {
          font-weight: 400;
          font-size: 15px;
          color: #776e73;
          animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        .hidden {
          display: none;
          animation: fade-out .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
      }
      &-more {
        display: none;
        font-weight: 500;
        font-size: 13px;
        color: #c2025e;
        width: 110px;
        cursor: pointer;
        transition: all 0.3s;
        .show {
          transform: rotate(180deg);
        }
        * {
          cursor: pointer;
        }
      }
      &-more.active {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;
      }
    }
  }

  &__review {
    &_left {
      margin-top: 30px;
    }
    &_right {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }


    &_counter {
      border-radius: 10px;
      padding: 30px;

      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.08);
      background: #fff;

      display: flex;
      flex-direction: column;
      gap: 20px;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-stars {
        display: flex;
        align-items: center;
        gap: 7px;
      }
      &-total {
        font-weight: 500;
        font-size: 18px;
        color: #290718;
      }

      &-bottom {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      &-item {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
          max-width: 58px;
          width: 100%;

          font-weight: 400;
          font-size: 13px;
          color: #776e73;
        }
        &__progress {
          max-width: 203px;
          width: 100%;
          height: 6px;
          border-radius: 10px;
          background: #f6f4f5;
          &-active {
            border-radius: 10px;
            height: 100%;
            width: 0;
            background: #ffb648;
          }
        }
        &__amount {
          max-width: 35px;
          width: 100%;

          font-weight: 400;
          font-size: 13px;
          text-align: right;
          color: #290718;
        }
      }
    }
    &_feedback {
      border: 1px solid rgba(194, 2, 94, 0.2);
      border-radius: 10px;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      font-weight: 500;
      font-size: 15px;
      text-align: center;
      color: #c2025e;

      cursor: pointer;

      transition: all .3s;
      * {
        cursor: pointer;
      }
      svg, path {
        transition: all .3s;
      }
      &:hover {
        color: #fff;
        background: #c2025e;
        path {
          fill: #fff;
        }
      }
    }


    &_heading {
      display: flex;
      gap: 8px;
    }
    &_title {
      font-weight: 700;
      font-size: 18px;
      color: #290718;
    }
    &_count {
      font-weight: 400;
      font-size: 13px;
      color: #776e73;
    }
    &_images {
      margin-top: 20px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 14px;
      &-item {
        //width: 86px;
        width: 100%;
        height: 86px;

        position: relative;

        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;

          object-fit: cover;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          font-weight: 700;
          font-size: 18px;
          color: #fff;
        }
        * {
          cursor: pointer;
        }
        &__video {
          &:before {
            content: '';
            display: block;
            inset: 0;
            width: 100%;
            height: 100%;
            background: url('/images/video-play.svg') center / contain no-repeat;

            position: absolute;
            z-index: 5;
            transform: scale(0.5);
          }
          &:after {
            content: '';
            display: block;
            inset: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            position: absolute;
            z-index: 1;
            inset: 0;
          }
        }
      }
    }
    &_sort {
      margin-top: 30px;

      display: flex;
      align-items: center;
      gap: 20px;
      &-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      &-item {
        font-weight: 400;
        font-size: 13px;
        color: #776e73;

        display: flex;
        align-items: center;
        gap: 5px;

        border: none;
        background: none;
        outline: none;

        cursor: pointer;
        * {
          cursor: pointer;
        }
      }
      .active {
        font-weight: 500;
        color: #c2025e;
      }
    }

    &_wrapper {
      margin-top: 30px;

      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &_item {
      display: flex;
      gap: 20px;

      padding-bottom: 30px;
      border-bottom: 1px solid rgba(232, 227, 230, 0.5);
      animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      &-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__right {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
      &-ico {
        min-width: 50px;
        width: 50px;
        height: 50px;

        border-radius: 100%;
        background: #e8e3e6;

        font-weight: 800;
        font-size: 15px;
        color: #f6f4f5;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-name {
        font-weight: 600;
        font-size: 15px;
        color: #290718;
      }
      &-date {
        font-weight: 400;
        font-size: 13px;
        color: #776e73;
        white-space: nowrap;
      }
      &-stars {
        display: flex;
        align-items: center;
        gap: 7px;
      }
      &-text {
        font-weight: 400;
        font-size: 15px;
        color: #776e73;
      }
    }
    &_item.hidden {
      animation: fade-out .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &_more, &_less {
      display: none;

      font-weight: 500;
      font-size: 13px;
      color: #c2025e;

      width: 101px;
      margin: 0 auto;

      cursor: pointer;
      transition: all .3s;
      * {
        cursor: pointer;
      }
      svg {
        transition: all .3s;
      }
    }
    &_more.active, &_less.active {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  &__slider {
    max-height: 500px;
    &_main {
      max-height: 500px;
      &-wrapper {
        max-height: 500px;
      }
      &-slide {
        padding: 5px;
        height: 500px;
        max-height: 500px;
        background: #fff;
        cursor: pointer;
        * {
          cursor: pointer ;
        }
        img {
          width: 100%;
          height: 100%;
          //object-fit: cover;
          object-fit: contain;
        }
        &__video {
          position: relative;
          img {
            filter: blur(3px);
          }
          span {
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 1);

            border-radius: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: 18px;
            padding-left: 3px;
            color: #C2025E;
          }
        }
      }
    }
    &_thumbs {
      min-width: 60px;
      width: 60px;
      height: 480px;
      &-slide {
        width: 60px;
        height: 60px;

        padding: 5px 8px;

        background: #fff;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &__video {
          position: relative;
          span {
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 1);

            border-radius: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            padding-left: 3px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-size: 18px;
            color: #C2025E;
          }
        }
      }
      &-wrapper {
        height: 480px;
      }
      .swiper-slide {
        opacity: 0.3;
        z-index: 1;
        transition: all .3s;
      }
      .swiper-slide-thumb-active {
        border: 1px solid #c2025e;
        opacity: 1;
      }
    }
    &_second {
      position: relative;
      height: 500px;
      .swiper-button-disabled {
        opacity: 0;
      }
    }
    &_navigate {
      position: absolute;
      z-index: 5;

      width: 50px;
      min-width: 50px;
      height: 50px;

      border-radius: 100%;
      background: #fff;
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);

      display: flex;
      align-items: center;
      justify-content: center;

      left: 50%;
      transform: translateX(-50%);

      cursor: pointer;
      &-prev {
        top: 0;
        svg {
          transform: rotate(180deg);
        }
      }
      &-next {
        bottom: 0;
      }
      * {
        cursor: pointer;
      }
    }
  }
}

.review-mobile {
  background: #fff;
  position: fixed;
  z-index: 500;
  inset: 0;
  width: 100%;
  height: 100%;

  left: -100%;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  padding-bottom: 50px;
  &__content {
    padding-top: 100px;
  }
  &__item {
    padding: 12.5px 20px 12.5px 25px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 10px 0 20px;
    position: relative;
    &_image {
      min-width: 50px;
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_code {
      color: #776E73;
      font-size: 11px;
      font-weight: 400;
    }
    &_title {
      margin-top: 3px;
      color: #290718;
      font-size: 13px;
      font-weight: 600;

      -webkit-line-clamp: 2;
      line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &:before {
      content: "";
      display:block;
      width: 10px;
      height: 10px;

      position: absolute;
      left: 10px;
      top: 48%;
      transform: translateY(-50%) rotate(45deg);

      border-bottom: 1px solid #290718;
      border-left: 1px solid #290718;
    }
  }

  .product__review_heading {
    gap: 5px;
    .product__review_star {
      margin-left: 5px;
    }
  }
  .product__review_images-item__video {
    span {
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.25);

      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .product__review_item {
    display: flex !important;
  }
  &.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}