.promo {
  margin-top: 30px;

    &__container {
      position: relative;
    }
    &__slide {
      background: #EFF5F4;
      padding: 60px;
      border-radius: 20px;

      position: relative;
      overflow: hidden;

      transform-style: preserve-3d;
      &_heading {
        max-width: 603px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        position: relative;
        z-index: 5;
      }
      &_descr {
        font-weight: 400;
        font-size: 26px;
        color: #2b2b2b;
      }
      &_btn {
        font-weight: 500;
        font-size: 15px;
        color: #290718;
        padding: 9px 18px;
        background: #fff;
        border-radius: 50px;
      }

      &_bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 4;

        transform-style: preserve-3d;
        &-img {
          border: 10px solid #fff;
          border-radius: 300px;

          width: 285px;
          height: 285px;

          position: absolute;
          &-2 {
            bottom: 2.5%;
            right: 1.6%;

            transform: translateZ(3px);
          }
          &-3 {
            bottom: -12%;
            right: 35%;

            transform: translateZ(1px);
          }
          &_big {
            width: 410px;
            height: 410px;

            right: 13%;
            top: -15%;

            transform: translateZ(2px);
          }
        }
        &-svg {
          position: absolute;
          &_lb {
            left: 0;
            bottom: 0;

            filter: blur(90px);
          }
          &_rt {
            right: 0;
            top: 0;

            transform: translateZ(1px);
            &-b {
              right: 0;
              bottom: 0;

              transform: translateZ(0);

              filter: blur(90px);
            }
          }
          &_rb {
            right: -20px;
            bottom: 0;
          }
        }
      }
    }
    &__arrow {
      width: 100%;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      justify-content: space-between;
      &_item {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        border: 1px solid #e8e3e6;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        svg, path {
          cursor: pointer;
        }
      }
      &_prev {
        position: absolute;
        left: -70px;
      }
      &_next {
        position: absolute;
        right: -70px;
      }
    }
}